@using CandidateManager.Web.Extensions
@using CandidateManager.Web.ViewModels

@model SessionFormViewModel

@{
    const string title = "Session Details";
    ViewBag.Title = title;
}

<h2>@title</h2>
<hr />

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Session.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Session.CandidateId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Session.CandidateId, Model.Candidates, "Select a Candidate",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Session.CandidateId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Session.ExerciseId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Session.ExerciseId, Model.Exercises, "Select an Exercise",
                    new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Session.ExerciseId, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.RenderCandidateManagerField(model => model.Session.AvailableFrom)
        @Html.RenderCandidateManagerField(model => model.Session.AvailableTo)
        @Html.RenderCandidateManagerField(model => model.Session.MaxDuration)
        @Html.RenderCandidateManagerField(model => model.Session.Status)
        @Html.RenderCandidateManagerField(model => model.Session.StartedAt)
        @Html.RenderCandidateManagerField(model => model.Session.SubmittedAt)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-primary" title="Update" />
                <a class="btn btn-default" title="Back" href="@Url.Action("List")">
                    Back
                </a>
            </div>
        </div>
    </div>
}

@section Head {
    @Styles.Render("~/Content/jquerydatetimepicker")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerydatetimepicker")
}
