@using CandidateManager.Core.Models
@using CandidateManager.Web.ViewModels

@model IEnumerable<SessionViewModel>

@{
    const string title = "Sessions";
    ViewBag.Title = title;
}

<h2>@title</h2>
<hr />

<div class="panel panel-default">
    <table class="table table-striped table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Candidate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercise)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
            </th>
        </tr>
        @foreach (var session in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => session.Candidate.FullName)
                </td>
                <td>
                    @Html.DisplayFor(model => session.Exercise.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => session.AvailableFrom)
                </td>
                <td>
                    @Html.DisplayFor(model => session.AvailableTo)
                </td>
                <td>
                    @Html.DisplayFor(model => session.MaxDuration)
                </td>
                <td>
                    @Html.DisplayFor(model => session.Status)
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        @if (session.Status == SessionStatus.Created)
                        {
                            <a class="btn btn-info" title="Publish"
                               href="@Url.Action("Publish", new { id = session.Id })">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        }
                        else if (session.Status == SessionStatus.Published
                                 || session.Status == SessionStatus.Started)
                        {
                            <a class="btn btn-info" title="Assessment"
                               href="@Url.Action("Index", "Assessments", new {id = session.Id})">
                                <span class="glyphicon glyphicon-share-alt"></span>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-info" title="Download"
                               href="@Url.Action("Download", new { id = session.Id })">
                                <span class="glyphicon glyphicon-download-alt"></span>
                            </a>
                        }
                        <a class="btn btn-primary" title="Detail" href="@Url.Action("Detail", new { id = session.Id })">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-danger" title="Delete" href="@Url.Action("Delete", new { id = session.Id })">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

<div>
    <a class="btn btn-primary" title="New Session" href="@Url.Action("Create")">
        New Session
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/dangerbuttonconfirmation")
}
